
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>I am the view of the controller index action</h3>
@Html.ActionLink("Create Form","Create")
@Html.ActionLink("Create Form by model Binding","Create2")





